<html>
<head>
</head>
	<title>Little Red Dev Shed</title>
<body>
	<script src="http://192.168.0.103/socket.io/socket.io.js"></script>
	<script type="text/JavaScript" src="./require.js" data-main="test_main">


	</script>	
</body>
</html>
