<html>
<head>
</head>
	<title>Little Red Dev Shed</title>
<body>
	<script src="https://www.littlereddevshed.com/socket.io/socket.io.js"></script>
	<script type="text/JavaScript" src="./require.js" data-main="voip_main">
	</script>	
</body>
</html>
