<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Authentication Server</title>
</head>
<body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="./jquery-1.10.2.min.js"></script>
	<script src="./hashes.min.js"></script>
	<script src="./clientConnection.js"></script>
	<script src="./voip_main.js"></script>
</body>
</html>

