#underlay{
position: absolute;
top: 0;
left: 0;
}
#leftslider{
position: absolute;
background: #000;
border: 1px solid white;
}
#rightslider{
position: absolute;
background: #000;
border: 1px solid white;
}
#leftsliderknob{
position: absolute;
background: #0C0;
border: 1px solid white;
}
#rightsliderknob{
position: absolute;
background: #0C0;
border: 1px solid white;
}
#mutetoggle{
position: absolute;
}
.hitbox{
position: absolute;
//background: #8CC;
border: 1px solid white;
